@import "nav.css";
@import "footer.css";
@import "media.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
#material-container {
  min-height: 50vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
.free-title {
  text-align: center;
  margin: 10px 0 40px 0;
}
.loading {
  width: 220px;
  margin: auto;
  display: block;
}
.content {
  width: 70%;
  margin: auto;
}
.sm {
  margin-bottom: 40px;
}
.sm > h2 > a {
  margin-bottom: 2px;
  font-size: 20px;
  color: black;
}
.sm > p {
  color: #ffa12b;
  margin-bottom: 15px;
}
